extends layout

block content

    h2= title
    hr
    div(style='display: flex; gap: 10px; flex-wrap: wrap;')
        img(src=item.imageUrl, alt=item.name, style='width: 150px; height: 150px; object-fit: cover;')
        div(style='display: flex; flex-direction: column; width: 250px; margin-left: 2rem;')
            h3(style="width: 500px") !{item.name}
            p(style='font-size: 14px; margin-top: .3rem;') #[strong Price:] $!{item.price}
            p(style='font-size: 14px; margin-top: .3rem;') #[strong Category:] !{item.category.name}
            p(style='font-size: 14px; margin-top: .3rem;') #[strong Description:] !{item.descr}
            p(style='font-size: 14px; margin-top: .3rem;') #[strong Stock:] !{item.inStock}
            a(href='/home/items/update/' + item._id) Edit
            a(href='/home/items/' + item._id + '/delete') Delete
